@model List<RegisteredAccount>
@{
    Layout = "_LayoutVault";
}
<!DOCTYPE html>
<html lang="en">
<body class="bg-body-tertiary">
    <main>
        <div class="d-flex">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Username</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        int a = 1;
                        foreach (RegisteredAccount account in Model)
                        {
                            <tr>
                                <th>@a</th>
                                <td>@account.Title</td>
                                <td>@account.Username</td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">C</button>
                                    <a asp-action="UpdateItem" asp-controller="Vault" asp-route-id="@account.Id" type="button" class="btn btn-sm btn-outline-secondary">E</a>
                                    <button onclick="confirmDelete('@account.Id')" type="button" class="btn btn-sm btn-outline-secondary">D</button>
                                </td>
                            </tr>
                            a++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4">No passwords saved.</td>
                        </tr>
                    }
                    
                </tbody>
            </table>
        </div>
    </main>
</body>
<script>
    function confirmDelete(id) {
        if (confirm("Are you sure you want to delete this item?")) {
            window.location.href = '@Url.Action("DeleteItem", "Vault")' + "?id=" + id;
        } else {
            return false;
        }
    }
</script>
</html>
